<% if (user.role === "candidat") { %>
<div class="container">
<h1>Coachs potentiels matchés</h1>
<div class="row boxCandidat">

  <% match.forEach(coach => { %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="http://vectorpage.com/uploads/2015/09/Teamwork-Backgrounds-Set.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= coach.username %></h5>
        <p class="card-text"><%= coach.description %></p>
        <a href="/coach/<%= coach.id %>" class="btn btn-primary">voir profile coach</a>
      </div>
    </div>
    <% }) %>
</div>
</div>
<% } %>