<form method="POST" action="/signup">
<label>
  Username:
  <input type="text" name="username">
</label>
<br>
<label>
  Nom:
  <input type="text" name="firstname">
</label>
<br>
<label>
  Prénom:
  <input type="text" name="lastname">
</label>
<br>
<label>
  age:
  <input type="number" name="age">
</label>
<br>
<label>
  adresse:
  <input type="text" name="adress">
</label>
<br>
<label>
  Code postal:
  <input type="text" name="zipcode">
</label>
<br>
<label>
  Ville:
  <input type="text" name="city">
</label>
<br>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
    <label>
  Categorie(s):
      <input type="checkbox" aria-label="Checkbox for following text input">
    </div>
  </div>
  <input type="text" class="form-control" name ="category" aria-label="Text input with checkbox" value="">
  </label>
</div>
<br>
<label>
  Décrivez-vous:
  <input type="textarea" name="description">
</label>
<br>
<label>
  Password:
  <input type="password" name="password">
</label>
<button>Création du compte:</button>
</form>