<img src="/images/mentor.jpg" alt="help" width="100%" height="420px">
<div class="imgHome"></div>
<div class="row">

  <div class="col-sm-4 choiceBox firstBox">
    <p class="middle">
      <a href="/signup">Je suis Coach!</a>
    </p>
  </div>


  <div class="col-sm-4 choiceBox secondBox">
    <p class="middle">
      <a href="/signup">Je suis un Candidat!</a>
    </p>
  </div>
  <div class="col-sm-4 choiceBox thirdBox">
    <p class="middle">Je suis une Entreprise!</p>
  </div>
</div>

<div class="container">
  <section class="explanationHome">
    <div class="title">
      <h2> <strong>"Trouver un job, c'est deja un job à plein temps" </strong></h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="images/coach2.png" alt="Generic placeholder image"
          width="140" height="140">
        <h2>Devenez coach</h2>
        <p>Aidez des demandeurs d'emploi en leur offrant vos talents</p>
        <p>
          <a class="btn btn-default" href="#" role="button">Devenez coach </a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="images/candidat.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>Candidats</h2>
        <p>grace a un accompagnement soigné developpez vos competences, retrouvez une dynamique positive, et surtout trouvez un job</p>
        <p>
          <a class="btn btn-default" href="#" role="button">activer la solidarité</a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="images/entreprise.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>Entreprise</h2>
        <p>Deposez vos offres d'emploi et denichez des candidats motivés et efficaces
        </p>
        <p>
          <a class="btn btn-default" href="#" role="button">Deposer une offre</a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </section>
  <div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><u>La solidarité est notre moteur</u>
          <span class="text-muted"></span>
        </h2>
        <p class="lead">Mink offre une mise en relation par competences recherchées ou offertes, garantissant ansi la pertinence des "matchs"  </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="images/solidarite2.jpg" alt="100x100" src="images/mains.png"
        width="200px" height="200px" data-holder-rendered="true">
      </div>
    </div>
    <br>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading"><u>Récompenses</u>
          <span class="text-muted"></span>
        </h2>
        <p class="lead">Chaque aceteur du retour a l 'emploi sera recompensé.<br><br>Pour le<strong> candidat</strong>: un package de 500€ de bons d'achat chez nos partenaires (Total, Zara, Cojean...) <br><br>Pour le <strong> coach</strong>: 500€ tout simplement!<br><br>
        Pour <strong>l'entreprise</strong> Mink s'occupe de l ensemble de formalitées administratives et vous accompagne pour beneficier de l'ensemble des encouragements fiscaux mis en place par votre departement.   </p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/300x300/auto" alt="500x500" src="images/MrReward.png" width="300px" height="300px"
          data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><u>Entreprises</u>
          <span class="text-muted"></span>
        </h2>
        <p class="lead">Mink c'est la garantie d'un collaborateur motivé, determiné a rejoindre une entreprise qui lui correspond.<br><br> 
        Et pour les demarches Mink s'en occupe pour vous...</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/300x300/auto" alt="500x500" src="images/5stars.jpg"width="300px" height="180px"
          data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><u>Mink pour tous</u>
          <span class="text-muted"></span>
        </h2>
        <p class="lead">Tout le monde peut devenir coach, offrez vos competences a ceux qui en ont besoin </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/300x300/auto" alt="500x500" src="images/Touscoach.png"width="320px" height="200px"
          data-holder-rendered="true">
      </div>
     
    </div>




  </div>
  <hr class="featurette-divider">
</div>


<footer>

</footer>