<img src="/images/mentor.jpg" alt="help" width="100%" height="420px">
<div class="imgHome"></div>
<div class="row">

  <div class="col-sm-4 choiceBox firstBox">
    <p class="middle">
      <a href="/signup">Je suis Coach!</a>
    </p>
  </div>


  <div class="col-sm-4 choiceBox secondBox">
    <p class="middle">
      <a href="/signup">Je suis un Candidat!</a>
    </p>
  </div>
  <div class="col-sm-4 choiceBox thirdBox">
    <p class="middle">Je suis une Entreprise!</p>
  </div>
</div>

<div class="container">
  <section class="explanationHome">
    <div class="title">
      <h2> <strong>"Trouver un job, c'est deja un job à plein temps" </strong></h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="images/coach2.png" alt="Generic placeholder image"
          width="140" height="140">
        <h2>Devenez coach</h2>
        <p>Aidez des demandeurs d'emploi en leur offrant vos talents</p>
        <p>
          <a class="btn btn-default" href="#" role="button">Devenez coach </a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="images/candidat.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>Candidats</h2>
        <p>grace a un accompagnement soigné developpez vos competences, retrouvez une dynamique positive, et surtout trouvez un job</p>
        <p>
          <a class="btn btn-default" href="#" role="button">activer la solidarité</a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="images/entreprise.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>Entreprise</h2>
        <p>Deposez vos offres d'emploi et denichez des candidats motivés et efficaces
        </p>
        <p>
          <a class="btn btn-default" href="#" role="button">Deposer une offre</a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </section>
  <div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">La solidarité est notre moteur
          <span class="text-muted"></span>
        </h2>
        <p class="lead">Mink mets en relation les demandeurs d'emploi avec des personnes  </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="images/echelle.png" alt="150x150" src="images/echelle.png"
        width="300px" height="300px" data-holder-rendered="true">
      </div>
    </div>
    <br>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">recompenses
          <span class="text-muted"></span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
          cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/300x300/auto" alt="500x500" src="images/reward.png"
          data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Entreprises
          <span class="text-muted"></span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
          cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/300x300/auto" alt="500x500" src="images/entreprise.png"
          data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">


  </div>
</div>