<% if (user.role === "coach") { %>
<div class="container" style="text-align: center">
<h1>Je peux aider : </h1>
<div class="row boxCandidat" style="text-align: center">

  <% match.forEach(candidate => { %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= candidate.picPath %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= candidate.username %></h5>
        <p class="card-text"><%= candidate.description %></p>
        <a href="/candidat/<%= candidate.id %>" class="btn btn-primary">voir le profil de ce candidat</a>
      </div>
    </div>
    <% }) %>
</div>
</div>
<% } %>
